*{
    margin:0;
    padding:0;
}

li{
    list-style-type:none;
}

body{
    width: 100%;
}

.chat{
    width: 100%;
    margin: 0 auto;
    position: relative;

    // 顶部
    .chat-top{
        width: 100%;
        height: 50px;
        background-color: #ececec;
        margin: 0 auto; 
        display: flex;
        flex-direction: row;
        position: fixed;
        top:0;
        left:0;        

        .chat-top-left{
			flex: 10;
            span{
                line-height: 50px;
                margin-left:20px ;
            }
        }
        .chat-top-mid{
			flex: 1;
            span{
                display: block;
                text-align: center;
                line-height: 50px;
                font-size: 20px;
            }
        }
        .chat-top-right{
			flex: 1;
            span{
                display: block;
                text-align: center;
                line-height: 50px;
                font-size: 20px;
            }
        }

    }
    // 内容
    .content{
        width: 100%;
        margin: 0 auto;
        // position: relative;

        .kongbai {
            height: 50px;
        }
    
        .content-box{
            width: 100%;
            height: 50px;
            
            display: flex;
            flex-direction: row;
            
           .content-box-left{
                width: 30px;
                height: 30px;
                float: left;
                margin:10px 20px;

                .iconfont{
                    font-size:30px;
                }
           }

           .content-box-right{
               
                height: 50px;
            
                float: left;
               
                flex-grow: 1;
                overflow: hidden;
               /*超出部分隐藏*/
                white-space: nowrap;
                // border-bottom: 1px solid rgb(170, 170, 170);

               .content-t{
                   height: 50px;
                   line-height: 50px;
                   font-size:16px;
            
                   .iconfont{
                       float: right;
                       margin-right:10px;
                   }
                
               }
               
           }

        }

        .sp{
            border-bottom: 1px solid rgb(170, 170, 170);
        }

        .num{
            width: 100%;
            height: 10px;
            background-color: #ededed;
        }

      

     
       
    }

   
    // 底部
    .footer{
        position: fixed;
        width: 100%;
        height: 50px;
        background-color: #f7f7f7;
        margin: 0 auto;
        left:0;
        bottom: 0;

        display: flex;
		flex-direction: row;

        .chat-footer-3{
            color:green;
        }

        .footer-box{
            flex:1;
            text-align: center;
            line-height: 8px;
            font-size:14px;

            .iconfont{
            font-size:20px;
            line-height: 35px;
            
            }
        }
       
    }

}